In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import ephem

from datetime import datetime
%matplotlib qt5

# Tiangong Graphs

In [2]:
Tiangong = pd.read_csv('sat37820.txt', header = None)
Tiangong

                                                       0
0      1 37820U 11053A   11272.72488377 -.00002491  0...
1      2 37820  42.7802 196.4777 0101297 130.5581 230...
2      1 37820U 11053A   11272.78731558 -.00002687  8...
3      2 37820  42.7775 196.0736 0115591 131.6747 229...
4      1 37820U 11053A   11272.86058300 -.00002686  8...
...                                                  ...
14331  2 37820  42.7382 196.5219 0007050 335.9816  24...
14332  1 37820U 11053A   18091.67159150  .05839629  9...
14333  2 37820  42.7393 196.1141 0005983 335.0656  24...
14334  1 37820U 11053A   18091.67159643  .06702538  9...
14335  2 37820  42.7393 196.1141 0005983 335.0657  25...

[14336 rows x 1 columns]

In [3]:
line1 = []
line2 = []

for i in range(len(Tiangong)):
    if(i%2 == 0):
        line1.append("{}".format(Tiangong[0][i]))
    else:
        line2.append("{}".format(Tiangong[0][i]))

In [4]:
elevation = []
epoch = []

for x, y in zip(line1, line2):
    tle_rec = ephem.readtle("Tiangong", x, y)
    tle_rec.compute('{}'.format(tle_rec._epoch))
    elevation.append(tle_rec.elevation / 1000.0)
    epoch.append(tle_rec._epoch.datetime())

In [5]:
elevation = np.array(elevation)

In [13]:
plt.figure(figsize = (12, 9))
plt.title("Tiangong Altitude History", fontsize = 25)
plt.plot(epoch, elevation, color = 'green', label = '$Alt(km)$')
plt.xlabel('$Date$', fontsize = 25)
plt.ylabel('$Altitude(km)$', fontsize = 25)
plt.legend(loc = 'upper left')

In [8]:
Tiangong = pd.read_csv('sat37820.csv', header = None)
Tiangong

,0,1,2,3,4,5,6,7,8
0,1,37820U,11053A,11272.72488,-0.000025,00000-0,00000+0,0.000000,19.0
1,2,37820,42.7802,196.47770,101297.000000,130.5581,230.4736,16.032707,40.0
2,1,37820U,11053A,11272.78732,-0.000027,85005-5,00000+0,0.000000,17.0
3,2,37820,42.7775,196.07360,115591.000000,131.6747,229.896,16.009910,36.0
4,1,37820U,11053A,11272.86058,-0.000027,84969-5,00000+0,0.000000,21.0
...,...,...,...,...,...,...,...,...,...
14331,2,37820,42.7382,196.52190,7050.000000,335.9816,24.1336,16.456765,NaN
14332,1,37820U,11053A,18091.67159,0.058396,93439-5,12719-3,0.000000,9991.0
14333,2,37820,42.7393,196.11410,5983.000000,335.0656,24.9878,16.464305,NaN
14334,1,37820U,11053A,18091.67160,0.067025,93469-5,14209-3,0.000000,9996.0
14335,2,37820,42.7393,196.11410,5983.000000,335.0657,25.0237,16.465606,NaN

In [9]:
Tiangong = Tiangong[Tiangong.index % 2 != 0].drop(0, axis = 1).drop(1, axis = 1).drop(8, axis = 1)
Tiangong

             2         3         4         5         6          7
1      42.7802  196.4777  101297.0  130.5581  230.4736  16.032707
3      42.7775  196.0736  115591.0  131.6747   229.896  16.009910
5      42.7837  195.6141  110069.0  132.4039  291.9162  16.009548
7       42.783  194.8337  111122.0  133.2177   278.384  16.010370
9      42.7843  193.5393  110816.0  135.6714   17.3939  16.012015
...        ...       ...       ...       ...       ...        ...
14327  42.7386  197.7481    6718.0  339.4173   21.5137  16.435739
14329  42.7393  197.3406    6205.0  338.9313   21.1427  16.442018
14331  42.7382  196.5219    7050.0  335.9816   24.1336  16.456765
14333  42.7393  196.1141    5983.0  335.0656   24.9878  16.464305
14335  42.7393  196.1141    5983.0  335.0657   25.0237  16.465606

[7168 rows x 6 columns]

In [10]:
i = Tiangong.iloc[:, 0].values

for a in range(len(i)):
    i[a] = float(i[a])
    if(i[a] < 42.68):
        print(i[a])

In [14]:
plt.figure(figsize = (12, 9))
plt.title("Tiangong Inclination($i$) History", fontsize = 25)
plt.plot(epoch, i, color = 'green', label = '$Inclination(^{\circ})$')
plt.xlabel('$Date$', fontsize = 25)
plt.ylabel('$Inclination(^{\circ})$', fontsize = 25)
plt.legend(loc = 'upper left')

In [15]:
raan = Tiangong.iloc[:, 1].values

for a in range(len(raan)):
    raan[a] = float(raan[a])

In [16]:
plt.figure(figsize = (12, 9))
plt.title("Tiangong Right Ascension of the Ascending Node($\Omega$) History", fontsize = 25)
plt.plot(epoch, raan, color = 'green', label = '$RAAN(^{\circ})$')
plt.xlabel('$Date$', fontsize = 25)
plt.ylabel('$RAAN(^{\circ})$', fontsize = 25)
plt.legend(loc = 'upper left')

In [17]:
e = Tiangong.iloc[:, 2].values

for a in range(len(e)):
    if (0 < int(e[a]) < 10):
        e[a] = float('0.000000' + str(int(e[a])))
    elif (10 <= int(e[a]) < 100):
        e[a] = float('0.00000' + str(int(e[a])))
    elif (100 <= int(e[a]) < 1000):
        e[a] = float('0.0000' + str(int(e[a])))
    elif (1000 <= int(e[a]) < 10000):
        e[a] = float('0.000' + str(int(e[a])))
    elif (10000 <= int(e[a]) < 100000):
        e[a] = float('0.00' + str(int(e[a])))
    elif (100000 <= int(e[a]) < 1000000):
        e[a] = float('0.0' + str(int(e[a])))
    elif (1000000 <= int(e[a]) < 10000000):
        e[a] = float('0.' + str(int(e[a])))
    else:
        raise ValueError

In [18]:
plt.figure(figsize = (12, 9))
plt.title("Tiangong Eccentricity($e$) History", fontsize = 25)
plt.plot(epoch, e, color = 'green', label = '$Eccentricity$')
plt.xlabel('$Date$', fontsize = 25)
plt.ylabel('$Eccentricity$', fontsize = 25)
plt.legend(loc = 'upper left')

In [19]:
aop = Tiangong.iloc[:, 3].values

for a in range(len(aop)):
    aop[a] = float(aop[a])

In [20]:
plt.figure(figsize = (12, 9))
plt.title("Tiangong Argument of Perigee($\omega$) History", fontsize = 25)
plt.plot(epoch, aop, color = 'green', label = '$AoP(^{\circ})$')
plt.xlabel('$Date$', fontsize = 25)
plt.ylabel('$AoP(^{\circ})$', fontsize = 25)
plt.legend(loc = 'upper left')

In [21]:
M = Tiangong.iloc[:, 4].values

for a in range(len(M)):
    M[a] = float(M[a])

In [22]:
plt.figure(figsize = (12, 9))
plt.title("Tiangong Mean Anomaly($M$) History", fontsize = 25)
plt.plot(epoch, M, color = 'green', label = '$M(^{\circ})$')
plt.xlabel('$Date$', fontsize = 25)
plt.ylabel('$M(^{\circ})$', fontsize = 25)
plt.legend(loc = 'upper left')

In [23]:
n = Tiangong.iloc[:, 5].values

for a in range(len(n)):
    n[a] = float(n[a])

In [24]:
plt.figure(figsize = (12, 9))
plt.title("Tiangong Mean Motion($n$) History", fontsize = 25)
plt.plot(epoch, n, color = 'green', label = '$n$')
plt.xlabel('$Date$', fontsize = 25)
plt.ylabel('$n$', fontsize = 25)
plt.legend(loc = 'upper left')

# SALYUT7 Graphs

In [25]:
Salyut7 = pd.read_csv('sat13138.txt', header = None)
Salyut7

                                                      0
0     1 13138U 82033A   82110.00103710  .00210141  1...
1     2 13138  51.5840 152.3930 0034652  70.1547 290...
2     1 13138U 82033A   82110.06292948  .00210514  1...
3     2 13138  51.5920 152.0524 0035878  89.3163 271...
4     1 13138U 82033A   82110.31057856  .00214849  1...
...                                                 ...
8915  2 13138  51.5735 165.5435 0005723 280.2458  79...
8916  1 13138U 82033A   91038.04455457  .13160475  6...
8917  2 13138  51.5668 164.1584 0007794 234.9886 125...
8918  1 13138U 82033A   91038.10489012  .42311814  6...
8919  2 13138  51.5623 163.8094 0005221 263.6371  96...

[8920 rows x 1 columns]

In [26]:
line1 = []
line2 = []

for i in range(len(Salyut7)):
    if(i%2 == 0):
        line1.append("{}".format(Salyut7[0][i]))
    else:
        line2.append("{}".format(Salyut7[0][i]))

In [27]:
elevation = []
epoch = []

for x, y in zip(line1, line2):
    tle_rec = ephem.readtle("Kvant", x, y)
    tle_rec.compute('{}'.format(tle_rec._epoch))
    elevation.append(tle_rec.elevation / 1000.0)
    epoch.append(tle_rec._epoch.datetime())

In [28]:
elevation = np.array(elevation)

In [29]:
plt.figure(figsize = (12, 9))
plt.title("Salyut7 Altitude History", fontsize = 25)
plt.plot(epoch, elevation, color = 'blue', label = '$Alt(km)$')
plt.xlabel('$Date$', fontsize = 25)
plt.ylabel('$Altitude(km)$', fontsize = 25)
plt.legend(loc = 'upper left')

In [30]:
Salyut7 = pd.read_csv('sat13138.csv', header = None)
Salyut7

,0,1,2,3,4,5,6,7,8
0,1,13138U,82033A,82110.00104,0.00210141,13539-4,14999-3,0.000000,20.0
1,2,13138,51.584,152.39300,34652,70.1547,290.4436,16.140083,53.0
2,1,13138U,82033A,82110.06293,0.00210514,13945-4,14999-3,0.000000,34.0
3,2,13138,51.592,152.05240,35878,89.3163,271.2605,16.139311,62.0
4,1,13138U,82033A,82110.31058,0.00214849,15210-4,14999-3,0.000000,42.0
...,...,...,...,...,...,...,...,...,...
8915,2,13138,51.5735,165.54350,5723,280.2458,79.8825,16.466890,NaN
8916,1,13138U,82033A,91038.04455,0.13160475,61325-4,97377-4,0.000000,7956.0
8917,2,13138,51.5668,164.15840,7794,234.9886,125.7113,16.523621,NaN
8918,1,13138U,82033A,91038.10489,0.42311814,62585-4,17046-3,0.000000,7968.0
8919,2,13138,51.5623,163.80940,5221,263.6371,96.6145,16.567669,NaN

In [31]:
Salyut7 = Salyut7[Salyut7.index % 2 != 0].drop(0, axis = 1).drop(1, axis = 1).drop(8, axis = 1)
Salyut7

            2         3      4         5         6          7
1      51.584  152.3930  34652   70.1547  290.4436  16.140083
3      51.592  152.0524  35878   89.3163  271.2605  16.139311
5     51.5909  150.6900  36449   95.1598  265.4717  16.141706
7      51.592  149.6737  35035   98.0264  262.6399  16.145429
9      51.592  145.9602  34954  102.4815   257.945  16.154857
...       ...       ...    ...       ...       ...        ...
8911  51.5775  166.5811   5583  274.0678   86.1204  16.442192
8913  51.5762  166.2353   6107    276.96   83.0601  16.448579
8915  51.5735  165.5435   5723  280.2458   79.8825  16.466890
8917  51.5668  164.1584   7794  234.9886  125.7113  16.523621
8919  51.5623  163.8094   5221  263.6371   96.6145  16.567669

[4460 rows x 6 columns]

In [32]:
i = Salyut7.iloc[:, 0].values

for a in range(len(i)):
    i[a] = float(i[a])
    if (i[a] > 61.5):
        i[a] = 51.57

In [33]:
plt.figure(figsize = (12, 9))
plt.title("Salyut7 Inclination($i$) History", fontsize = 25)
plt.plot(epoch, i, color = 'blue', label = '$Inclination(^{\circ})$')
plt.xlabel('$Date$', fontsize = 25)
plt.ylabel('$Inclination(^{\circ})$', fontsize = 25)
plt.legend(loc = 'upper left')

In [34]:
raan = Salyut7.iloc[:, 1].values

for a in range(len(raan)):
    raan[a] = float(raan[a])

In [35]:
plt.figure(figsize = (12, 9))
plt.title("Salyut7 Right Ascension of the Ascending Node($\Omega$) History", fontsize = 25)
plt.plot(epoch, raan, color = 'blue', label = '$RAAN(^{\circ})$')
plt.xlabel('$Date$', fontsize = 25)
plt.ylabel('$RAAN(^{\circ})$', fontsize = 25)
plt.legend(loc = 'upper left')

In [36]:
e = Salyut7.iloc[:, 2].values

for a in range(len(e)):
    if (0 < int(e[a]) < 10):
        e[a] = float('0.000000' + str(int(e[a])))
    elif (10 <= int(e[a]) < 100):
        e[a] = float('0.00000' + str(int(e[a])))
    elif (100 <= int(e[a]) < 1000):
        e[a] = float('0.0000' + str(int(e[a])))
    elif (1000 <= int(e[a]) < 10000):
        e[a] = float('0.000' + str(int(e[a])))
    elif (10000 <= int(e[a]) < 100000):
        e[a] = float('0.00' + str(int(e[a])))
    elif (100000 <= int(e[a]) < 1000000):
        e[a] = float('0.0' + str(int(e[a])))
    elif (1000000 <= int(e[a]) < 10000000):
        e[a] = float('0.' + str(int(e[a])))
    else:
        raise ValueError

In [37]:
plt.figure(figsize = (12, 9))
plt.title("Salyut7 Eccentricity($e$) History", fontsize = 25)
plt.plot(epoch, e, color = 'blue', label = '$Eccentricity$')
plt.xlabel('$Date$', fontsize = 25)
plt.ylabel('$Eccentricity$', fontsize = 25)
plt.legend(loc = 'upper left')

In [38]:
aop = Salyut7.iloc[:, 3].values

for a in range(len(aop)):
    aop[a] = float(aop[a])

In [39]:
plt.figure(figsize = (12, 9))
plt.title("Salyut7 Argument of Perigee($\omega$) History", fontsize = 25)
plt.plot(epoch, aop, color = 'blue', label = '$AoP(^{\circ})$')
plt.xlabel('$Date$', fontsize = 25)
plt.ylabel('$AoP(^{\circ})$', fontsize = 25)
plt.legend(loc = 'upper left')

In [40]:
M = Salyut7.iloc[:, 4].values

for a in range(len(M)):
    M[a] = float(M[a])

In [41]:
plt.figure(figsize = (12, 9))
plt.title("Salyut7 Mean Anomaly($M$) History", fontsize = 25)
plt.plot(epoch, M, color = 'blue', label = '$M(^{\circ})$')
plt.xlabel('$Date$', fontsize = 25)
plt.ylabel('$M(^{\circ})$', fontsize = 25)
plt.legend(loc = 'upper left')

In [42]:
n = Salyut7.iloc[:, 5].values

for a in range(len(n)):
    n[a] = float(n[a])

In [43]:
plt.figure(figsize = (12, 9))
plt.title("Salyut7 Mean Motion($n$) History", fontsize = 25)
plt.plot(epoch, n, color = 'blue', label = '$n$')
plt.xlabel('$Date$', fontsize = 25)
plt.ylabel('$n$', fontsize = 25)
plt.legend(loc = 'upper left')

In [45]:
data = pd.read_csv('RAAN.csv')
data

      Unnamed: 0        RAAN
0              0    196.4777
1              1    196.0736
2              2    195.6141
3              3    194.8337
4              4    193.5393
...          ...         ...
7132        7132 -14199.3935
7133        7133 -14202.2519
7134        7134 -14202.6594
7135        7135 -14203.4781
7136        7136 -14203.8859

[7137 rows x 2 columns]

In [46]:
x = data['Unnamed: 0']
y = data['RAAN']

In [47]:
plt.plot(x, y)

In [48]:
plt.plot(x, y % 360)

In [ ]:
plt.plot(x, -2.03)